@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(225, 227, 232);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.markdown > * {
  all: revert;
}

blockquote {
  margin: 0 !important;
  padding-left: 1em !important;
  border-left: 0.3em rgb(193 207 220) solid !important;
  color: rgb(85, 105, 126) !important;
  font-style: italic !important;
}
